<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-1 mb-2 border-bottom">
  <h3 class="my-0 pt-2 mr-1">Medicamentos</h3>
  <div class="btn-toolbar mb-0 mb-md-0 mt-2 mt-sm-0 ml-auto">
    <div class="mr-2">
      <input type="text" *ngIf="showGrid" [ngClass]="{'border border-primary': filtro.value}" class="form-control" placeholder="Filtrar medicamento" (keyup.enter)="filtrar()" (blur)="filtrar()" #filtro>
    </div>
    <button class="btn btn-primary" *ngIf="showGrid" (click)="router.navigateByUrl('/medicamentos/new')">
      <mat-icon class="align-middle">add</mat-icon>
      <div class="d-none d-sm-inline-block">Incluir</div>
    </button>
  </div>
</div>

<div *ngIf="!isLoading">
  <app-medicamentos-grid #grid *ngIf="showGrid" [lista]="medicamentos" [pagina]="pagina" (delete)="delete($event)" (edit)="edit($event)" (changePage)="loadList($event)"></app-medicamentos-grid>
  <app-medicamentos-form #form *ngIf="!showGrid" [item]="item" (cancel)="cancel()" (save)="save($event)"></app-medicamentos-form>
</div>

<app-loading [loading]="isLoading"></app-loading>
