<div *ngIf="!lista || lista.length === 0">
  Nenhum medicamento cadastrado.
</div>

<div *ngIf="lista" class="table-responsive">
  <table class="table table-striped">
    <tbody>
      <tr *ngFor="let medicamento of lista">
        <td width="90%" class="align-middle" [id]="medicamento._id">
          {{ medicamento.nome }}
        </td>
        <td>
          <app-botoes-grid (editarEvento)="edit.emit(medicamento)" (excluirEvento)="delete.emit(medicamento)"></app-botoes-grid>
        </td>
      </tr>
    </tbody>
  </table>
</div>
