<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-1 mb-3 border-bottom">
  <h3 class="my-0 pt-2 mr-1">Pacientes</h3>
  <div class="btn-toolbar mb-md-0 mt-2 mt-sm-0 ml-auto">
    <div class="mr-2">
      <input type="text" *ngIf="showGrid" [ngClass]="{'border border-primary': filtro.value}" class="form-control" placeholder="Filtrar paciente" (keyup.enter)="filtrar()" (blur)="filtrar()" #filtro>
    </div>
    <button class="btn btn-primary" *ngIf="showGrid" (click)="router.navigateByUrl('/pacientes/new')">
      <mat-icon class="align-middle">person_add</mat-icon>
      <div class="d-none d-sm-inline-block ml-2">Novo</div>
    </button>
  </div>
</div>

<div *ngIf="!isLoading">
    <app-pacientes-grid #grid *ngIf="showGrid" [lista]="pacientes" [pagina]="pagina" (delete)="delete($event)" (edit)="edit($event)" (changePage)="loadList($event)"></app-pacientes-grid>
    <app-pacientes-form #form *ngIf="!showGrid" [item]="item" [convenios]="conveniosCombo" (cancel)="cancel()" (save)="save($event)"></app-pacientes-form>
</div>

<app-loading [loading]="isLoading"></app-loading>
