<div [ngClass]="{'d-none': getVisibilidade()}" class="row justify-content-center">
  <div>
    <button class="btn btn-outline-primary" (click)="changePagina(-1)" id="btnAnterior">
      <mat-icon class="align-middle">navigate_before_rounded</mat-icon>
    </button>
  </div>
  <div class="col-3 col-sm-2 col-lg-1">
    <input type="text" class="form-control" (keyup.enter)="changePagina(0)" (blur)="changePagina(0)" #inputPagina>
  </div>
  <div>
    <button class="btn btn-outline-primary" (click)="changePagina(1)" id="btnProximo">
      <mat-icon class="align-middle">navigate_next_rounded</mat-icon>
    </button>
  </div>
</div>
