<ul [ngClass]="{'d-none': getVisibilidade()}" class="nav justify-content-center">
  <li>
    <button class="btn btn-outline-primary" (click)="changePagina(-1)">
      <mat-icon class="align-middle">navigate_before</mat-icon>
    </button>
  </li>
  <li class="mx-2 align-self-center">
    <input type="text" class="form-control" style="width:75px;" (keyup.enter)="changePagina(0)" (blur)="changePagina(0)" #inputPagina>
  </li>
  <li>
    <button class="btn btn-outline-primary" (click)="changePagina(1)" id="btnProximo">
      <mat-icon class="align-middle">navigate_next</mat-icon>
    </button>
  </li>
</ul>
