<div *ngIf="(!lista) || (lista.length==0)">
  Nenhum convênio cadastrado.
</div>

<div *ngIf="lista" class="table-responsive">
  <table class="table table-striped">
    <tbody>
      <tr *ngFor="let convenio of lista">
        <td width="90%" class="align-middle" [id]="convenio._id">
          {{ convenio.nome }}
        </td>
        <td>
          <app-botoes-grid (editarEvento)="edit.emit(convenio)" (excluirEvento)="delete.emit(convenio)"></app-botoes-grid>
        </td>
      </tr>
    </tbody>
  </table>
</div>
