<div *ngIf="((!lista || lista.length === 0) && (pagina === 1))">
  Nenhum convênio cadastrado.
</div>

<div *ngIf="((!lista || lista.length === 0) && (pagina > 1))">
  <div class="alert alert-warning" role="alert">
    <span>Não há convênios nesta página, </span>
    <span (click)="changePage.emit(1)" style="cursor: pointer;"><u>clique aqui</u></span>
    <span> para voltar para a primeira página.</span>
  </div>
</div>

<div *ngIf="lista" class="table-responsive">
  <table class="table table-striped">
    <tbody>
      <tr *ngFor="let convenio of lista">
        <td width="90%" class="align-middle" [id]="convenio._id">
          <app-checkbox [valorInicial]="convenio.ativo" disabled="true" texto=""></app-checkbox>
          {{ convenio.nome }}
        </td>
        <td>
          <app-botoes-grid (editarEvento)="edit.emit(convenio)" (excluirEvento)="delete.emit(convenio)"></app-botoes-grid>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-paginacao-grid [lista]="lista" [pagina]="pagina" (changePage)="changePage.emit($event)"></app-paginacao-grid>
