<div>
  <ng-sidebar-container style="height:100vh">
    <ng-sidebar [(opened)]="_opened" (click)="_toggleSidebar()" mode="over" closeOnClickOutside="true" autoFocus="false"
      autoCollapseWidth="500">

      <div class="bg-white text-dark px-2 pt-2 border-right border-bottom border-secondary rounded-bottom position-relative"
        style="top: 55px">

        <h5 class="bg-light text-dark pt-1 pl-1 border-bottom">Painel</h5>

        <!-- <div class="dropdown-item py-2" (click)="redirect('agenda')" [ngClass]="{'bg-selected text-white': selectedRoute('agenda')}">
          <div class="d-inline-block">
            <mat-icon class="align-middle mr-1">event</mat-icon>
          </div>
          <div class="d-inline-block align-text-top">Agenda</div>
        </div> -->

        <div class="dropdown-item py-2" (click)="redirect('dashboard')" [ngClass]="{'bg-selected text-white': selectedRoute('dashboard')}">
          <div class="d-inline-block">
            <mat-icon class="align-middle mr-1">dashboard</mat-icon>
          </div>
          <div class="d-inline-block align-text-top">Dashboard</div>
        </div>

        <h5 class="bg-light text-dark pt-1 mt-2 pl-1 border-bottom">Cadastros</h5>

        <div class="dropdown-item py-2" (click)="redirect('consultas')" [ngClass]="{'bg-selected text-white': selectedRoute('consultas')}">
          <div class="d-inline-block">
            <mat-icon class="align-middle mr-1">assignment</mat-icon>
          </div>
          <div class="d-inline-block align-text-top">Consultas</div>
        </div>

        <div class="dropdown-item py-2" (click)="redirect('pacientes')" [ngClass]="{'bg-selected text-white': selectedRoute('pacientes')}">
          <div class="d-inline-block">
            <mat-icon class="align-middle mr-1">accessibility_new</mat-icon>
          </div>
          <div class="d-inline-block align-text-top">Pacientes</div>
        </div>

        <a class="dropdown-item py-2" (click)="redirect('medicos')" [ngClass]="{'bg-selected text-white': selectedRoute('medicos')}">
          <div class="d-inline-block">
            <mat-icon class="align-middle mr-1">airline_seat_recline_normal</mat-icon>
          </div>
          <div class="d-inline-block align-text-top">Médicos</div>
        </a>

        <h6 class="bg-light text-dark pt-1 mt-2 pl-1 border-bottom">Complementos</h6>

        <div class="dropdown-item py-2" (click)="redirect('horarios')" [ngClass]="{'bg-selected text-white': selectedRoute('horarios')}">
          <div class="d-inline-block">
            <mat-icon class="align-middle mr-1">alarm</mat-icon>
          </div>
          <div class="d-inline-block align-text-top">Horários</div>
        </div>

        <div class="dropdown-item py-2" (click)="redirect('medicamentos')" [ngClass]="{'bg-selected text-white': selectedRoute('medicamentos')}">
          <div class="d-inline-block">
            <mat-icon class="align-middle mr-1">healing</mat-icon>
          </div>
          <div class="d-inline-block align-text-top">Medicamentos</div>
        </div>

        <div class="dropdown-item py-2" (click)="redirect('convenios')" [ngClass]="{'bg-selected text-white': selectedRoute('convenios')}">
          <div class="d-inline-block">
            <mat-icon class="align-middle mr-1">business_center</mat-icon>
          </div>
          <div class="d-inline-block align-text-top">Convênios</div>
        </div>

        <hr class="my-1 py-0">

        <div class="dropdown-item py-2 mb-2" (click)="logoff()">
          <div class="d-inline-block">
            <mat-icon class="align-middle mr-1">power_settings_new</mat-icon>
          </div>
          <div class="d-inline-block align-text-top">Sair</div>
        </div>
      </div>
    </ng-sidebar>

    <div ng-sidebar-content>
      <div *ngIf="exibirBarra()" class="position-static d-inline-block container-fluid bg-primary py-2 border-bottom" style="height: 55px">
        <div class="d-inline-block">
          <button class="btn btn-light" (click)="_toggleSidebar()">
            <mat-icon class="align-middle">menu</mat-icon>
          </button>
        </div>
        <div class="d-inline-block pl-2 text-white align-middle">
          <h2 class="my-0">Healthy :)</h2>
        </div>
        <!-- <div class="float-right mt-2">
          <span class="text-white align-middle" style="cursor: pointer" (click)="logoff()">Sair</span>
        </div> -->
      </div>
      <div class="container pb-4">
        <router-outlet></router-outlet>
      </div>
    </div>
  </ng-sidebar-container>
</div>
