<div *ngIf="((!lista || lista.length === 0) && (pagina === 1))">
    Nenhum médico cadastrado.
  </div>
  
  <div *ngIf="((!lista || lista.length === 0) && (pagina > 1))">
    <div class="alert alert-warning" role="alert">
      <span>Não há médicos nesta página, </span>
      <span (click)="changePage.emit(1)" style="cursor: pointer;"><u>clique aqui</u></span>
      <span> para voltar para a primeira página.</span>
    </div>
  </div>

<div *ngIf="lista" class="table-responsive">
  <table class="table table-striped">
    <tbody>
      <tr *ngFor="let medico of lista">
        <td width="90%" class="align-middle" [id]="medico._id">
          <div class="align-middle">
            <mat-icon *ngIf="medico.restricoes" class="align-middle mr-2 mb-1" color="primary" [title]="'RESTRIÇÕES\n' + medico.restricoes">info_outline</mat-icon>
            <strong>{{ medico.nome }}</strong> <span *ngIf="medico.especialidade"> - {{ medico.especialidade }}</span>
          </div>
          <div>
            <span *ngIf="medico.email">{{ medico.email }}</span>
            <span *ngIf="medico.email && medico.telefone"> - </span>
            <span *ngIf="medico.telefone">{{ medico.telefone }}</span>
          </div>
        </td>
        <td>
          <app-botoes-grid (editarEvento)="edit.emit(medico)" (excluirEvento)="delete.emit(medico)"></app-botoes-grid>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-paginacao-grid [lista]="lista" [pagina]="pagina" (changePage)="changePage.emit($event)"></app-paginacao-grid>
