<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-1 mb-3 border-bottom">
  <h3 class="h3 my-0 pt-2 mr-3">Horários</h3>
</div>

<div class="row">
  <div class="col-sm-12">
    Exibir os seguintes horários:
  </div>
</div>
<div class="row text-center">
  <div class="col-sm-4">
    <input type="checkbox" id="inputCheck_0_6" class="mr-1">
    <label for="inputCheck_0_6" class="mr-4">00:00 - 06:00</label>
  </div>

  <div class="col-sm-4">
    <input type="checkbox" id="inputCheck_6_20" class="mr-1" checked="true">
    <label for="inputCheck_6_20" class="mr-4">06:00 - 20:00</label>
  </div>

  <div class="col-sm-4">
    <input type="checkbox" id="inputCheck_20_0" class="mr-1">
    <label for="inputCheck_20_0" class="mr-4">20:00 - 00:00</label>
  </div>
</div>

<div class="table-responsive">

  <table class="table align-middle text-center table-striped">
    <thead class="table-head">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Dom</th>
        <th scope="col">Seg</th>
        <th scope="col">Ter</th>
        <th scope="col">Qua</th>
        <th scope="col">Qui</th>
        <th scope="col">Sex</th>
        <th scope="col">Sáb</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="py-0 align-middle">06:00</th>
        <td><input type="checkbox" id="inputDom1" class="checkbox"></td>
        <td><input type="checkbox" id="inputSeg1" class="checkbox"></td>
        <td><input type="checkbox" id="inputTer1" class="checkbox"></td>
        <td><input type="checkbox" id="inputQua1" class="checkbox"></td>
        <td><input type="checkbox" id="inputQui1" class="checkbox"></td>
        <td><input type="checkbox" id="inputSex1" class="checkbox"></td>
        <td><input type="checkbox" id="inputSab1" class="checkbox"></td>
      </tr>
      <tr>
        <th scope="row" class="py-0 align-middle">06:30</th>
        <td><input type="checkbox" id="inputDom2" class="checkbox"></td>
        <td><input type="checkbox" id="inputSeg2" class="checkbox"></td>
        <td><input type="checkbox" id="inputTer2" class="checkbox"></td>
        <td><input type="checkbox" id="inputQua2" class="checkbox"></td>
        <td><input type="checkbox" id="inputQui2" class="checkbox"></td>
        <td><input type="checkbox" id="inputSex2" class="checkbox"></td>
        <td><input type="checkbox" id="inputSab2" class="checkbox"></td>
      </tr>
      <tr>
        <th scope="row" class="py-0 align-middle">07:00</th>
        <td><input type="checkbox" id="inputDom3" class="checkbox"></td>
        <td><input type="checkbox" id="inputSeg3" class="checkbox"></td>
        <td><input type="checkbox" id="inputTer3" class="checkbox"></td>
        <td><input type="checkbox" id="inputQua3" class="checkbox"></td>
        <td><input type="checkbox" id="inputQui3" class="checkbox"></td>
        <td><input type="checkbox" id="inputSex3" class="checkbox"></td>
        <td><input type="checkbox" id="inputSab3" class="checkbox"></td>
      </tr>
    </tbody>
  </table>

</div>
