<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-1 mb-3 border-bottom">
  <h3 class="h3 my-0 pt-2 mr-3">Dashboard</h3>
</div>

<div class="card mb-3">
  <div class="card-header card-title bg-dashboard text-white h5">Consultas</div>
  <div class="card-body">
    <app-loading [loading]="dataConsultas.length < 11"></app-loading>

    <div *ngIf="dataConsultas.length === 11" class="card-text">
      <div class="row">
        <div class="col-md-9">
          <div class="mb-2">Total de consultas: {{ dataConsultasCompleto.length }}</div>
          <canvas baseChart class="align-middle"
            [data]="dataConsultas"
            [labels]="labelsConsultas"
            [options]="optionsConsultas"
            chartType="line"
            [legend]="false"
            height="50"></canvas>
        </div>
        <div class="col-md-3">
          <canvas baseChart class="align-middle"
            [data]="dataConsultasConvenios"
            [labels]="labelConsultasConvenios"
            chartType="doughnut"
            height="200"></canvas>
        </div>
      </div>
    </div>

    <!-- <div class="text-right btn-group-sm">
      <a (click)="redirect('consultas')" class="btn text-white btn-dashboard sm-btn">Ir para...</a>
    </div> -->
  </div>
</div>

<div class="card-deck mb-3">
  <div class="card">
    <div class="card-header card-title text-white bg-dashboard h5">Médicos</div>
    <div class="card-body">
      <p class="card-text">Texto</p>
      <div class="text-right btn-group-sm">
        <a (click)="redirect('medicos')" class="btn btn-dashboard text-white">Ir para...</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header card-title text-white bg-dashboard h5">Pacientes</div>
    <div class="card-body">
      <p class="card-text">Texto</p>
      <div class="text-right btn-group-sm">
        <a (click)="redirect('pacientes')" class="btn text-white btn-dashboard">Ir para...</a>
      </div>
    </div>
  </div>
</div>

<div class="card-deck mb-2">
  <div class="card">
    <div class="card-header card-title text-white bg-dashboard h6">Horários</div>
    <div class="card-body">
      <p class="card-text">X Cadastrados</p>
      <div class="text-right btn-group-sm">
        <a (click)="redirect('horarios')" class="btn btn-dashboard text-white">Ir para...</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header card-title text-white bg-dashboard h6">Medicamentos</div>
    <div class="card-body">
      <p class="card-text">Y Cadastrados</p>
      <div class="text-right btn-group-sm">
        <a (click)="redirect('medicamentos')" class="btn text-white btn-dashboard">Ir para...</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header card-title text-white bg-dashboard h6">Convênios</div>
    <div class="card-body">
      <p class="card-text">Z Cadastrados</p>
      <div class="text-right btn-group-sm">
        <a (click)="redirect('convenios')" class="btn text-white btn-dashboard">Ir para...</a>
      </div>
    </div>
  </div>
</div>