<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-1 mb-3 border-bottom">
  <h3 class="my-0 pt-2 mr-1">Dashboard</h3>
</div>

<app-loading [loading]="carregando"></app-loading>

<div *ngIf="!carregando">
  <div class="card mb-3">
    <div class="card-header card-title bg-dashboard text-white h5">Consultas</div>
    <div class="card-body">

      <div class="card-text">
        <div class="d-none d-md-block">
          <div class="row">
            <div class="col-md-9">
              <div class="mb-2">Total de consultas: {{ dataConsultasCompleto.length }}</div>
              <canvas baseChart class="align-middle" [data]="dataConsultas" [labels]="labelsConsultas" [options]="optionsConsultas"
                chartType="line" [legend]="false" height="50"></canvas>
            </div>
            <div class="col-md-3">
              <canvas baseChart class="align-middle" [data]="dataConsultasConvenios" [labels]="labelConsultasConvenios"
                chartType="doughnut" height="200"></canvas>
            </div>
          </div>
        </div>
        <div class="d-md-none">
          <div class="row">
            <div class="col-md-9">
              <div class="mb-2">Total de consultas: {{ dataConsultasCompleto.length }}</div>
              <canvas baseChart class="align-middle" [data]="dataConsultas" [labels]="labelsConsultas" [options]="optionsConsultas"
                chartType="line" [legend]="false" height="200"></canvas>
            </div>
            <div class="col-md-3 mt-2">
              <canvas baseChart class="align-middle" [data]="dataConsultasConvenios" [labels]="labelConsultasConvenios"
                chartType="doughnut" height="150" [options]="optionsConsultasConvenios"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-deck mb-3">
    <div class="card">
      <div class="card-header card-title text-white bg-dashboard h5">Especialidades requisitadas</div>
      <div class="card-body">
        <div class="d-none d-md-block">
          <canvas baseChart class="align-middle" [data]="dataMedicos" [labels]="labelsMedicos" chartType="horizontalBar"
            [options]="optionsMedicos" [legend]="false" height="100"></canvas>
        </div>
        <div class="d-md-none">
          <canvas baseChart class="align-middle" [data]="dataMedicos" [labels]="labelsMedicos" chartType="horizontalBar"
            [options]="optionsMedicos" [legend]="false" height="200"></canvas>  
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header card-title text-white bg-dashboard h6">Top convênios</div>
      <div class="card-body">
        <div class="d-none d-md-block">
          <canvas baseChart class="align-middle" [data]="dataConvenios" [labels]="labelsConvenios" [options]="optionsConvenios"
            chartType="pie" height="100"></canvas>
        </div>
        <div class="d-md-none">
          <canvas baseChart class="align-middle" [data]="dataConvenios" [labels]="labelsConvenios" [options]="optionsConvenios"
          chartType="pie" height="200"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="card-deck mb-2">
    <div class="card">
      <div class="card-header card-title text-white bg-dashboard h6">Top medicamentos</div>
      <div class="card-body">
        <p class="card-text">Top medicamentos prescritos</p>
      </div>
    </div>
    <div class="card">
      <div class="card-header card-title text-white bg-dashboard h6">Horários</div>
      <div class="card-body">
        <p class="card-text">Horário de atendimento</p>
        <div class="ml-4 mb-1">Início: 08:00h</div>
        <div class="ml-4 mb-1">Fim: 20:00h</div>
        <div class="ml-4">Tempo da consulta: 30 min</div>
        <div class="text-right btn-group-sm mt-4">
          <button class="btn text-white btn-dashboard" (click)="gotoHorarios()">Configurar</button>
        </div>
      </div>
    </div>
  </div>
</div>