<form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">

  <div class="form-group row">
    <div class="col-sm-12">
      <label for="convenioInput">Nome do convênio</label>
      <input class="form-control border border-primary" id="convenioInput" formControlName="nome" placeholder="Ex.: Unimed, Bradesco, AMED"
        autofocus required #focusObj>
    </div>
  </div>

  <div class="form-group row my-4 my-md-0">
    <div class="col-12">
      <app-checkbox texto="Ativo" [form]="form" controlName="ativo"></app-checkbox>
    </div>
  </div>

  <app-botoes-formulario [habilitado]="form.valid" (cancelarEvent)="cancel.emit()"></app-botoes-formulario>

</form>