<form autocomplete="off" #frm="ngForm" (ngSubmit)="onSubmit(frm)" class="form-horizontal">
  <div class="form-row">
    <div class="form-group col-md-8">
      <label for="medicoInput" class="control-label">Nome *</label>
      <input type="text" class="form-control border border-primary" id="medicoInput" name="medico" placeholder="Ex.: Daniel, João, Paulo"
        ngModel autofocus required>
    </div>
    <div class="form-group col-md-4">
      <label for="nascimentoInput" class="control-label">Data de nascimento *</label>
      <input type="date" class="form-control border border-primary" id="nascimentoInput" name="nascimento" placeholder="01/01/2000"
        ngModel required>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="telefoneInput" class="control-label">Telefone</label>
      <input type="text" class="form-control" id="telefoneInput" name="telefone" placeholder="Ex.: (12) 91234-0987"
        ngModel>
    </div>
    <div class="form-group col-md-8">
      <label for="emailInput" class="control-label">E-mail</label>
      <input type="text" class="form-control" id="emailInput" name="email" email placeholder="Ex.: paciente@email.com"
        ngModel>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-7">
      <label for="especialidadeInput" class="control-label">Especialidade</label>
      <input type="text" class="form-control" id="especialidadeInput" name="especialidade" placeholder="Ex.: Ortopedista, Clínico geral"
        ngModel>
    </div>
    <div class="form-group col-md-5">
      <label for="crmInput" class="control-label">CRM *</label>
      <input type="text" class="form-control border border-primary" id="crmInput" name="crm" placeholder="Ex.: 33385"
        ngModel required>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-sm-12">
      <label for="restricoesInput" class="control-label">Restições</label>
      <textarea class="form-control" rows="4" id="restricoesInput" name="restricoes" placeholder="Ex.: Atende apenas no período da tarde e não atende terça-feira."
        ngModel></textarea>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-sm-12">
      <div class="d-none d-sm-block">
        <div class="btn-toolbar mb-2 mb-md-0 btn-group">
          <button type="submit" class="btn btn-primary" [disabled]="!frm.valid">
            Salvar
          </button>
          <button type="button" class="btn btn-outline-secondary" (click)="cancelar()">
            Cancelar
          </button>
        </div>
      </div>

      <div class="form-group d-sm-none">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!frm.valid">
          Salvar
        </button>
        <button type="button" class="btn btn-outline-secondary btn-block" (click)="cancelar()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</form>
