<form autocomplete="off" (ngSubmit)="onSubmit(frm.form.value)" class="form-horizontal" #frm="ngForm">

  <div class="form-group">
    <div class="col-sm-12">
      <label for="medicamentoInput">Nome do medicamento</label>
      <input class="form-control" id="medicamentoInput" name="nome" placeholder="Ex.: Demerol, Lamisil, Plavix" ngModel
        autofocus required>
    </div>
  </div>

  <app-botoes-formulario [habilitado]="frm.valid" (cancelarEvent)="cancel.emit()"></app-botoes-formulario>

</form>