<div class="float-right py-1" style="min-width:100px;">

  <div *ngIf="!confirmaExclusao" class="btn-toolbar btn-group">
    <button (click)="editarEvento.emit(medicamento)" class="btn btn-outline-info">
      <mat-icon class="align-middle">edit</mat-icon>
    </button>
    <button (click)="confirmaExclusao=true" class="btn btn-outline-danger">
      <mat-icon class="align-middle">delete</mat-icon>
    </button>
  </div>

  <div *ngIf="confirmaExclusao" class="btn-toolbar btn-group">
    <button (click)="confirmaExclusao=false" class="btn btn-outline-secondary">
      <mat-icon class="align-middle">highlight_off</mat-icon>
    </button>
    <button (click)="excluirEvento.emit(medicamento)" class="btn btn-primary">
      <mat-icon class="align-middle">check_circle_outline</mat-icon>
    </button>
  </div>

</div>